@import './fonts.scss';

/* General CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  

  
  button, input, textarea, select {
    font: inherit;
    margin: 0;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


body {
    min-height: 500vh;
    position: relative;
    font-family: 'Gustavo', sans-serif; 
  font-weight: normal;
  font-style: normal;
  color: #5D4043;
  background: #FAF6F3;
}
.bg-lines {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 70vh 240px 0 240px;
    box-sizing: border-box;
    z-index: 5;
    
    & div {
        width: 100%;
        height: 100%;
        border-left: 1px solid #3E4451;
        mix-blend-mode: difference;
        opacity: 0.5;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 10%, rgba(0,0,0,1) 100%);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.1) 100%);
        &:last-child {
            border-right: 1px solid #3E4451;
        }
    }
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding: 38.5px 240px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__logo {
    position: relative;
    width: max-content;
    overflow: hidden;
    -webkit-mask-image: url(/src/assets/logo.svg);
  mask-image: url(/src/assets/logo.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;    
  cursor: pointer;
  & .colors {
    transform:translate(-100%, 50%) rotate(143deg);
    left: 0;
    top: 8px;
  }
  }
  &__cta {
    width: max-content;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   box-sizing: border-box;
   padding: 12px 24px;
   overflow: hidden;
   cursor: pointer;
    & a {
      color: #FAF6F3;
      z-index: 4;
      position: relative;
      font-size: 14px;
      transform: translateY(-2px);
    }
    &__bg1 {
      background: #5D4043;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 100%;
    }
    &__bg2 {
      background: #291618;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
    }
    & .colors {
      transform: translate(-130%, 0%) rotate(143deg);
      height: 500% !important;
      z-index: 3;
    }
  }
}

.colors {
  position: absolute;
  height: 100%;
  width: 115%;
  display: flex;
  z-index: 50;
  & div {
    height: 150%;
    &:nth-child(1) {
      background-color: #C40018;
      width: 32%;
    }
    &:nth-child(2) {
      background-color: #FF5A5A;
      width: 20%;
    }
    &:nth-child(3) {
      background-color: #0066FF;
      width: 16%;
    }
    &:nth-child(4) {
      background-color: #0007AF;
      width: 32%;
    }
  }
}

header {
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    & video {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100svh;
        object-fit: cover;
    }
    & .maskHeader {
        position: absolute;
        left: 0;
        top: 0;
        height: 102svh;
        z-index: 1;
        width: 100%;
        background-color: rgba($color: white, $alpha: 1); /* Couleur de fond pour voir l'effet du masque */
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,1) 100%);
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,1) 100%);
    }
    & .header-content {
      position: relative;
      z-index: 99;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5svh;
      &__title {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding-top: 38.5px;
        & div {
          font-size: 8px;
          margin-left: 2px;
          margin-bottom: 1svh;
        }
      }
      & h1 {
        font-family: 'Tartuffo', sans-serif; 
        font-size: 28px;
        font-weight: 400;
        
      }
      & p {
        font-family: 'Tartuffo', sans-serif; 
        font-size: 80px;
        margin-top: 3svh;
        text-align: center;
      }
      & span {
        margin-top: 4svh;
      }
      &__line {
        position: absolute;
        height: 30vh;
        width: 1px;
        background: linear-gradient(to top, rgba(183, 140, 145, 0) 0%,  #5D4043 100%);
        bottom: -85%;
      }
    }
}

.container {
  margin-top: 50svh;
  width: 100%;
  position: relative;
  z-index: 6;
}

.bento {
  // height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    & h2 {
      font-family: 'Tartuffo', sans-serif; 
      font-size: 32px;
      font-weight: 400;
      color: #5D4043;
      margin-bottom: 16px;
    }
    & p {
      color: #816A6C;
      line-height: 150%;
      font-size: 14px;
    }
    &__elegant {
      position: relative;
      width: 380px;
      height: 612px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      padding: 0 32px 32px 32px;
      border-radius: 8px;
      background: white;
      overflow: hidden;
      & img {
        position: absolute;
        top: 20%;
        left: -85%;
        height: 50%;
      }
      &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #EFF1FD;
        opacity: 0;
      }
      & h2 {
        position: relative;
        z-index: 2;
      }
      & p {
       
        position: relative;
        z-index: 2;
      }
    }
    &__personnalisable {
      position: relative;
      width: 580px;
      height: 298px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      box-sizing: border-box;
      padding:  32px 32px 32px 0;
      border-radius: 8px;
      background: white;
      overflow: hidden;
      margin-bottom: 16px;
      &:hover img {
        filter: brightness(0.95);
      }
      & img {
        position: absolute;
        top: 50%;
        left: -23%;
        height: 150%;
        transform: translateY(-44%);
        transition: filter 0.4s ease-in-out;
      }
      &__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        opacity: 0;
      }
      & h2 {
        position: relative;
        z-index: 2;

        width: 60%;
      }
      & p {
        position: relative;
        z-index: 2;
        width: 60%;
      }
    }
    &__made {
      width: calc(50% - 16px);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      padding: 0 32px 32px 32px ;
      box-sizing: border-box;
      background: white;
      border-radius: 8px;
      
      & img {
        margin-bottom: 50px;
        width: 100%;
      }
    }
    &__innovante {
      width: calc(50% - 16px);
      height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      padding:  32px 32px 0 32px ;
      box-sizing: border-box;
      overflow: hidden;
      background: white;
      border-radius: 8px;
      margin-left: 16px;
      & img {
        position: absolute;
        top: 43%;
    right: -41%;
      }
      &__bg {
        height: 200%;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        background: #EBE0D8;
        filter: blur(50px);
      }
    }
    &__savoureuse {
      width: calc(70% - 20px);
      height: 298px;
      display: flex;
      flex-direction: column;
      position: relative;
      padding:  32px  0 0 32px;
      box-sizing: border-box;
      overflow: hidden;
      background: #EFF2FD;
      border-radius: 8px;
      margin-right: 16px;
      margin-top: 16px;
      & img {
        position: absolute;
        top: -25%;
    right: -70%;
      }
      
      & h2 {
        max-width: 40%;
      }
      & p {
        max-width: 40%;
      
      }
    }
    &__hebergement {
      width: calc(30% - 16px);
      height: 298px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      padding: 32px;
      box-sizing: border-box;
      overflow: hidden;
      background: #EBE0D8;
      border-radius: 8px;
      margin-top: 16px;
      & img {
        position: absolute;
        top: 32px;
    left: 32px;
      }
      &__bg {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: white;
        z-index: -1;
      }
    }
  }
}

.largeHW {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 16px;
}
.double {
  display: flex;
  height: 50%;
  max-width: 100%;
}